.page {
  width: 100%;
  position: relative;
}
.container {
  overflow: hidden;
  will-change: contents;
  height: auto;
  width: 100%;
  position: fixed;
  opacity: 0;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}