@font-face {
  font-family: 'Eina01';
  src: url('./assets/fonts/Eina01-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body, #root {
  height: 100%;
  margin: 0;      
  padding: 0;
  box-sizing: border-box;
}
.navbar ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 1rem;
  font-weight: bold;
}
