@font-face {
  font-family: 'Eina01';
  src: url('./assets/fonts/Eina01-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f0f0f0;
}
.navbar ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 1rem;
  font-weight: bold;
}
