.backdrop {
  position: relative;
  height: 600px;              
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}
.backdrop-water{
  position: relative;
  height: 100%;              
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

.top-layer {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 300px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 3;
}

.semi-circle {
  position: absolute;
  bottom: -133.3%;
  width: 700px;
  height: 500px;
  background-color: #F6EECD; 
  border-top-left-radius: 400px;
  border-top-right-radius: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  position: absolute;
  top: 50px;
  width: 130%;
  height: 100%;
  display: flex;
}

.light-bulb1 {
  position: absolute;
  top: 0;
  right: 55%;
  z-index: 4;
  width: 40%;     
  height: auto;
  max-height: 1000px;  
}

.light-bulb2 {
  position: absolute;
  top: -100%;
  left: -28%;
  z-index: 4;
  width: 60%;     
  height: auto;
  max-height: 1000px;  
}

.light-bulb3 {
  position: absolute;
  top: 25%;
  left: 49%;
  z-index: 4;
  width: 50%;
  height: auto;
  max-height: 1000px;  
}

.light-bulb4 {
  position: absolute;
  top: -30%;
  right: -10%;
  z-index: 4;
  width: 30%;     
  height: auto;
  max-height: 1000px;  
}

@media (max-width: 1000px) {
  .light-bulb1,
  .light-bulb2,
  .light-bulb3,
  .light-bulb4 {
    display: none;
  }

}

.about-me {
  background-color: #ffffff;
  width: 100%;
  padding: 120px 80px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
}

.about-me h2 {
  font-family: 'Pinyon Script', cursive;
  font-weight: 400;
  font-size: 5rem;
  transform: translateX(-30%);
  color: #000;
  margin-bottom: 0px;
  text-align: center;
  letter-spacing: -0.01em;
}

.about-me-content {
  max-width: 1000px;
  transform: translateX(-10%);
  display: flex;        
  flex-direction: column;
  align-items: center;   
  justify-content: center; 
  margin: 0 auto;       
}


.about-me-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-text {
  font-family: Eina01, sans-serif;
  font-size:  1.3rem;
  line-height: 1.8;
  color: #333;
  text-align: center;
}
