.brown-block {
  background-color: #665044; 
  position: relative;
  height: 600px;              
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

.top-layer {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 300px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 5;
}

.semi-circle {
  position: absolute;
  bottom: -133.3%;
  width: 700px;
  height: 500px;
  background-color: #F6EECD; 
  border-top-left-radius: 400px;
  border-top-right-radius: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'Cursive', sans-serif;
  font-size: 24px;
  color: #000;
}

.light-bulb {
  position: absolute;
  top: 0;
  left: 5%;
  transform: translateX(-50%);
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cord-container {
  position: relative;
  height: 80px;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4; 
}

.cord {
  background-color: #000000;
  width: 0.2rem;
  z-index: 2;
  left: 5%;
  height: 40px;
}

.cord-shadow {
  background-color: #00000040;
  width: 0.2rem;
  left: 2px;  
  top: 1px;
  height: 40px;
  z-index: 1;
  filter: blur(0.5px);
}

.bulb {
  width: 12rem;
  height: 12rem;
  background-color: #FFFFDF;
  border-radius: 50%;
  box-shadow: 0 0 12rem #ffd08a;
  margin-top: 5%; 
  z-index: 5; 
}
